@model LibraryApp.Models.BookCopy

@{
    ViewData["Title"] = "Usuń egzemplarz";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć ten egzemplarz?</h3>
<div>
    <h2>@Model.Edition.Book.Title</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Autorzy:
        </dt>
        <dd>
            @foreach (var author in ViewBag.Authors) {
                @author.FirstName@:&nbsp;@author.LastName<br />
            }
        </dd>
        <dt>
            Gatunek:
        </dt>
        <dd>
            @Model.Edition.Book.Genre
        </dd>
        <dt>
            Wydawnictwo:
        </dt>
        <dd>
            @Model.Edition.PublishingHouse
        </dd>
        <dt>
            Data wydania:
        </dt>
        <dd>
            @Model.Edition.ReleaseDate.ToString("d")
        </dd>
        <dt>
            Filia:
        </dt>
        <dd>
            @Model.BranchNumberNavigation.Name
        </dd>
        <dt>
            Stan:
        </dt>
        <dd>
            @Model.Condition
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger mb-2" />
        <button class="btn btn-secondary mb-2" asp-controller="Books" asp-action="Index" asp-route-id="@Model.Edition.BookId">Anuluj</button>
        <div>
            @if (ViewBag.errMsg != null) {
                <span class="text-danger">@ViewBag.errMsg</span>
            }
        </div>
    </form>
</div>
