@model Library_WebApp.Models.Borrow

@{
    ViewData["Title"] = "borrowDelete";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Podgląd</h2>

<h3>Czy jesteś pewien, że chcesz usunąć tą encję?</h3>
<div>
    <h4>Wypożyczenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.borrowDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.borrowDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.returnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.returnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.volumeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.volumeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.userLogin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userLogin)
        </dd>
    </dl>

    <form asp-action="borrowDelete">
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="borrowList">Wróć do listy</a>
    </form>
</div>
