@model Library_WebApp.Models.Librarian

@{
    ViewData["Title"] = "librarianDelete";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Podgląd</h2>

<h3>Czy jesteś pewien, że chcesz usunąć tą encję?</h3>
<div>
    <h4>Bibliotekarz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateOfHire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateOfHire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.libraryBranchNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.libraryBranchNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.passwordRepeat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.passwordRepeat)
        </dd>
    </dl>

    <form asp-action="librarianDelete">
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="librarianList">Wróć do listy</a>
    </form>
</div>
