@model Library_WebApp.Models.Volume

@{
    ViewData["Title"] = "volumeDelete";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Podgląd</h2>

<h3>Czy jesteś pewien, że chcesz usunąć tą encję?</h3>
<div>
    <h4>Egzemplarz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.editionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.editionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.libraryBranchId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.libraryBranchId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.condition)
        </dd>
    </dl>

    <form asp-action="volumeDelete">
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="volumeList">Wróć do listy</a>
    </form>
</div>
