@model Library_WebApp.Models.User


<h2>Login</h2>
<div>
    @using (Html.BeginForm("Login", ""))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Logowanie</legend>
            <ol class="nostyle">
                <li>@Html.Label("Login")</li>
                <li>@Html.TextBoxFor(model => model.login)</li>
                <li>@Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })</li>
                <li>@Html.Label("Hasło")</li>
                <li>@Html.PasswordFor(model => model.password)</li>
                <li>@Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })</li>
            </ol>
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Zaloguj</button>
            </div>
        </fieldset>
    }
</div>
