@model Library_WebApp.Models.User

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = (User)ViewData["User"];
}

<legend>Rejestracja</legend>
<div>
    @using (Html.BeginForm("Registration", ""))
    {
        @Html.AntiForgeryToken()
        
        <fieldset>
            <ol class="nostyle">
                <li>@Html.Label("Imię")</li>
                <li>@Html.TextBoxFor(model => model.name)</li>
                <li>@Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })</li>

                <li>@Html.Label("Nazwisko")</li>
                <li>@Html.TextBoxFor(model => model.lastName)</li>
                <li>@Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })</li>

                <li>@Html.Label("Data (Pole data musi mieć strukturę dd-mm-rrrr(bez zbędnych zer na poczatku liczb, np 19-3-1999)")</li>
                <li>@Html.TextBoxFor(model => model.data)</li>
                <li>@Html.ValidationMessageFor(model => model.data, "", new { @class = "text-danger" })</li>

                <li>@Html.Label("login")</li>
                <li>@Html.TextBoxFor(model => model.login)</li>
                <li>@Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })</li>

                <li>@Html.Label("hasło")</li>
                <li>@Html.PasswordFor(model => model.password)</li>
                <li>@Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })</li>

                <li>@Html.Label("Powtórz hasło")</li>
                <li>@Html.PasswordFor(model => model.passwordRepeat)</li>
                <li>@Html.ValidationMessageFor(model => model.passwordRepeat, "", new { @class = "text-danger" })</li>
            </ol>
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Zarejestruj się</button>
            </div>
        </fieldset>
    }
</div>
