@model LibraryApp.Models.Book

@{
    ViewData["Title"] = "Usuń książkę";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć tę książkę?</h3>
<div>
    <h2>@Model.Title</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Gatunek:
        </dt>
        <dd>
            @Model.Genre
        </dd>
        <dt>
            Autorzy:
        </dt>
        <dd>
            @foreach (var author in Model.Authors) {
                @author.FirstName@:&nbsp;@author.LastName<br />
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger mb-2" />
        <button class="btn btn-secondary mb-2" asp-action="Index" asp-route-id="@Model.Id">Anuluj</button>
        <div>
            @if (ViewBag.errMsg != null) {
                <span class="text-danger">@ViewBag.errMsg</span>
            }
        </div>
    </form>
</div>
