@model LibraryApp.Models.Branch

@{
    ViewData["Title"] = "Usuń filię";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć tę filię?</h3>
<div>
    <h2>@Model.Name</h2>
    <hr />
    @{
        var address = Model.Address;
        var adressLine1 = address.Street;
        var adressLine2 = $"{address.ZipCode} {address.City}, {address.Country}";
        <dl class="dl-horizontal">
            <dt>
                Numer filii:
            </dt>
            <dd>
                @Model.BranchNumber
            </dd>
            <dt>
                Adres:
            </dt>
            <dd>
                @adressLine1<br />
                @adressLine2
            </dd>
        </dl>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="BranchNumber" />
        <input type="submit" value="Usuń" class="btn btn-danger mb-2" />
        <button class="btn btn-secondary mb-2" asp-action="Index">Anuluj</button>
        <div>
            @if (ViewBag.errMsg != null) {
                <span class="text-danger">@ViewBag.errMsg</span>
            }
        </div>
    </form>
</div>
