@model Library_WebApp.Models.ShowVolumeViewModel

@{
    ViewData["Title"] = "showVolume";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Szczegółowe dane egzemplarza</h2>

<div>
    <h4>Egzemplarz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.volume.id):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.volume.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.book.name):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.book.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.book.Authors):
        </dt>
        <dd>
            @foreach (var item in Model.book.Authors)
            {
                string concatenated = item.firstName + " " + item.lastName;
                @concatenated<br />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.book.genre):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.book.genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.publishingHouseName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.publishingHouseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.edition.releaseDate):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.edition.releaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.volume.libraryBranchId):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.volume.libraryBranchId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.volume.State):
        </dt>
        <dd>
            @Model.volume.getStateName()
        </dd>
        @if (Model.volume.condition != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.volume.condition):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.volume.condition)
            </dd>
        }

    </dl>
</div>
<div>
    @Html.ActionLink("Edytuj", "editVolume", new { id = Model.volume.id }, null) |
    <a asp-action="volumeList">Wróć do listy</a>
</div>
