@model IEnumerable<Library_WebApp.Models.Genre>

@{
    ViewData["Title"] = "genreList";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Gatunki</h2>

<p>
    <a asp-action="addGenre">Dodaj nowy gatunek</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "editGenre", item, null) |
                @Html.ActionLink("Szczegóły", "showGenre", item, null) |
                @Html.ActionLink("Usuń", "deleteGenre", item, null)
            </td>
        </tr>
}
    </tbody>
</table>
