@model IEnumerable<Library_WebApp.Models.LibraryBranch>

@{
    ViewData["Title"] = "librarianBranchList";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Filie</h2>

<p>
    <a asp-action="addLibrarianBranch">Dodaj nową filię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.buildingNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address.zipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.address.street)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.address.buildingNr)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.address.Country)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.address.City)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.address.zipCode)
                </th>
                <td>
                    @Html.ActionLink("Edytuj", "editLibrarianBranch", new {id = item.address.id, number = item.number, name = item.name, street = item.address.street, Country = item.address.Country, 
                    City = item.address.City, buildingNr = item.address.buildingNr, zipCode = item.address.zipCode}) |
                    @Html.ActionLink("Szczegóły", "showLibrarianBranch", new {id = item.address.id, number = item.number, name = item.name, street = item.address.street, Country = item.address.Country, 
                    City = item.address.City, buildingNr = item.address.buildingNr, zipCode = item.address.zipCode}) |
                    @Html.ActionLink("Usuń", "deleteLibrarianBranch", new {id = item.address.id, number = item.number, name = item.name, street = item.address.street, Country = item.address.Country, 
                    City = item.address.City, buildingNr = item.address.buildingNr, zipCode = item.address.zipCode})
                </td>
            </tr>
        }
    </tbody>
</table>
