@model IEnumerable<Library_WebApp.Models.Property>

@{
    ViewData["Title"] = "propertyList";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Własności</h2>

<p>
    <a asp-action="addProperty">Dodaj nową własność</a>
</p>

@using (Html.BeginForm("propertyList"))
{
    <input type="text" name="phrase" />
    <input type="submit" value="Wyszukaj" class="btn btn-default" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.authorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.authorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "editProperty", item, null) |
                    @Html.ActionLink("Szczegóły", "showProperty", item, null) |
                    @Html.ActionLink("Usuń", "deleteProperty", item, null)
                </td>
            </tr>
        }
    </tbody>
</table>
